@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --orange: #368845;
  --red: #c0392b;
  --orange: #f39c12;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /*transition: all 0.2s linear;*/
}

*::selection {
  background-color: var(--orange);
  color: var(--white);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--light-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  padding: 3rem 2rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--black);
  font-size: 4rem;
}

.empty {
  padding: 1.5rem;
  text-align: center;
  border: var(--border);
  background-color: var(--white);
  color: var(--red);
  font-size: 2rem;
}

.message {
  position: sticky;
  top: 0;
  margin: 0 auto;
  max-width: 1200px;
  background-color: var(--light-bg);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  gap: 1.5rem;
}

.message span {
  font-size: 2rem;
  color: var(--black);
}

.message i {
  cursor: pointer;
  color: var(--red);
  font-size: 2.5rem;
}

.message i:hover {
  transform: rotate(90deg);
}

.btn,
.option-btn,
.delete-btn,
.white-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  color: var(--white);
  font-size: 1.8rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
  background-color: var(--black);
}

.white-btn,
.btn {
  background-color: var(--orange);
}

.option-btn {
  background-color: var(--orange);
}

.delete-btn {
  background-color: var(--red);
}

.white-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

@keyframes fadeIn {
  0% {
    transform: translateY(1rem);
    opacity: 0.2s;
  }
}

.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  min-height: 12rem;
}

.header .flex {
  display: flex;
  align-items: center;
  padding: 0rem 1rem 0rem 1rem;
  justify-content: space-between;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}
.header .flex .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .flex .logo span {
  color: var(--orange);
}

.logo img{
  max-width:  50%;
  height: auto;
  position: relative;
  top:10px;
}
.logo {
  order: -1;
  width:30%;
  margin-right: 0px;
}
.logo p{
  position: relative;
  left: 250px;
  bottom: 51px;
  width:150px;
}

.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: var(--black);
}

.header .flex .navbar a:hover {
  color: var(--orange);
}

.header .flex .icons div {
  margin-left: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
}

.header .flex .icons div:hover {
  color: var(--orange);
}

.header .flex .account-box {
  position: absolute;
  top: 120%;
  right: 2rem;
  width: 30rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  border: var(--border);
  background-color: var(--white);
  display: none;
  animation: fadeIn 0.2s linear;
}

.header .flex .account-box.active {
  display: inline-block;
}

.header .flex .account-box p {
  font-size: 2rem;
  color: var(--light-color);
  margin-bottom: 1.5rem;
}

.header .flex .account-box p span {
  color: var(--orange);
}

.header .flex .account-box .delete-btn {
  margin-top: 0;
}

.header .flex .account-box div {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: var(--light-color);
}

.header .flex .account-box div a {
  color: var(--orange);
}

.header .flex .account-box div a:hover {
  text-decoration: underline;
}

#menu-btn {
  display: none;
}

.dashboard .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.dashboard .box-container .box {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
  text-align: center;
}

.dashboard .box-container .box h3 {
  font-size: 5rem;
  color: var(--black);
}

.dashboard .box-container .box p {
  margin-top: 1.5rem;
  padding: 1.5rem;
  background-color: var(--light-bg);
  color: var(--black);
  font-size: 2rem;
  border-radius: 0.5rem;
  border: var(--border);
}

.dashboard .box-container .box p span {
  color: var(--orange);
}

.add-products form {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border: var(--border);
  max-width: 50rem;
  margin: 0 auto;
}

.add-products form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1.5rem;
}

.add-products form .box {
  width: 100%;
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  color: var(--black);
  font-size: 1.8rem;
  border: var(--border);
}

.show-products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  justify-content: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.show-products {
  padding-top: 0;
}

.show-products .box-container .box {
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}

.show-products .box-container .box img {
  height: 25.5rem;
  border: var(--orange) 2px solid;
  border-radius: 1rem;
}

.show-products .box-container .box .name {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--black);
}

.show-products .box-container .box .price {
  padding: 1rem 0;
  font-size: 2.5rem;
}

.edit-product-form {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
}

.edit-product-form form {
  width: 50rem;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--white);
}

.edit-product-form form img {
  height: 25rem;
  margin-bottom: 1rem;
}

.edit-product-form form .box {
  margin: 1rem 0;
  padding: 1.2rem 1.4rem;
  border: var(--border);
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  font-size: 1.8rem;
  color: var(--black);
  width: 100%;
}

.orders .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  justify-content: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.orders .box-container .box {
  background-color: var(--white);
  padding: 2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.orders .box-container .box p {
  padding-bottom: 1rem;
  font-size: 2rem;
  color: var(--light-color);
}

.orders .box-container .box p span {
  color: var(--orange);
}

.orders .box-container .box form {
  text-align: center;
}

.orders .box-container .box form select {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  background-color: var(--light-bg);
  border: var(--border);
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
}

.users .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  justify-content: center;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
}

.users .box-container .box {
  background-color: var(--white);
  padding: 2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
}

.users .box-container .box p {
  padding-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--light-color);
}

.users .box-container .box p span {
  color: var(--orange);
}
.dashboard .box-container .box p input{
  color: var(--orange);
  font-size: 2rem;
  text-align: center;
  background-color: var(--light-bg);
}

.users .box-container .box .delete-btn {
  margin-top: 0;
}

.footer {
  background-color: var(--white);
  margin-top: auto;
}

.footer .credit {
  text-align: center;
  font-size: 2rem;
  color: var(--light-color);
  border-top: var(--border);
  margin-top: 2.5rem;
  padding-top: 2.5rem;
}

.footer .credit span {
  color: var(--orange);
}

.dashboard {
  margin-bottom: 278px;
}

.orders {
  margin-bottom: 559px;
}

.users {
  margin-bottom: 375px;
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1250px) {
  #menu-btn {
    display: inline-block;
  }

  .header .flex .navbar {
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .flex .navbar a {
    margin: 2rem;
    display: block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .title {
    font-size: 3rem;
  }
}

form {
  align-items: center;
}

form .flex {
  display: block;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}

form .flex select,
form .flex input[type="date"] {
  border: var(--border);
  border-radius: .5rem;
  background-color: var(--white);
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  margin: 1rem 0;
  width:auto; 
}

form .flex .select {
  border: var(--border);
  width: 20%;
  border-radius: .5rem;
  width: 20%;
  background-color: var(--white);
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  margin: 1rem 0;
}

form .flex .inputBox {
  flex: 1 1 40rem;
}

form .flex input[type="submit"] {
  margin-bottom: 1.4rem;
}

.breaking {
  inline-size: inherit;
  overflow-wrap: break-word;
  hyphens: auto;
}

.notickets {
  inline-size: fit-content;
}

.checkout {
  /*min-height: 100vh;*/
   background-color: var(--light-bg);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
}

.checkout form {
  padding: 2rem;
  width: 50rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  background-color: var(--light-bg);
  text-align: center;
}

.checkout form h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--black);
  text-transform: uppercase;
  font-size: 3rem;
}

.checkout form .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.checkout form .flex .inputBox {
  flex: 1 1 40rem;
  inline-size: min-content;
}

.checkout form .flex span {
  font-size: 2rem;
  color: var(--black);
}

.checkout form .flex select,
.checkout form .flex input,
.checkout form .flex textarea {
  width: 100%;
  border-radius: .5rem;
  background-color: var(--white);
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border: var(--border);
  margin: 1rem 0;
}

textarea {
  resize: vertical;
}

.dateRange {
  border: var(--border);
  border-radius: .5rem;
  background-color: var(--white);
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  margin: 1rem 0;
  width:auto; 
}

.navbar {
  overflow: hidden;
  background-color: var(--white);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: var(--orange);
}

.navbar .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  margin: 0 1rem;
  font-size: 2rem;
  border: none;
  outline: none;
  color: var(--black);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--box-shadow);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--white);
  color: var(--orange);
}

.dropdown-content a:hover {
  color: var(--orange);
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {

  .navbar a:not(:first-child),
  .dropdown .dropbtn {
     display: none;
  }

  .navbar a.icon {
     float: right;
     display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
     position: relative;
  }

  .navbar.responsive .icon {
     position: absolute;
     right: 0;
     top: 0;
  }

  .navbar.responsive a {
     float: none;
     display: block;
     text-align: left;
  }

  .navbar.responsive .dropdown {
     float: none;
  }

  .navbar.responsive .dropdown-content {
     position: relative;
  }

  .navbar.responsive .dropdown .dropbtn {
     display: block;
     width: 100%;
     text-align: left;
  }
}